<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/css/signup.css"> -->
  <title>Document</title>
</head>
<body>
<div class="container">
  <form class="form">
    <input type="email" class="login"  name="email" placeholder="email">
    <div class="email"></div>
 
    <input type="password" class="login"  name="password" placeholder="password">
    <div class="password"></div>
    
    <button class="button">login</button>
  </form>
 <div>
    <a href="/user/forgot_password"> forgot password  </a>

 </div>
</div>
</body>
<script src="/user/login.js"></script>
</html>